/*
This file is included at compilation as a format string.
Therefore all curly braces must be escaped.

More info: https://developers.google.com/fonts/docs/material_symbols
 */
@font-face {{
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url({}) format('woff');
}}

.material-symbols-outlined {{
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}}
